* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-image: url('https://img.freepik.com/premium-vector/hand-drawn-winter-background_23-2148716428.jpg?w=2000');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}